	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/01/2018 10:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-shop:before { content: "\f100"; }
.flaticon-bag:before { content: "\f101"; }
.flaticon-interface:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-social:before { content: "\f104"; }
.flaticon-speaker:before { content: "\f105"; }
.flaticon-like-1:before { content: "\f106"; }
.flaticon-play-button:before { content: "\f107"; }
.flaticon-magnifying-glass:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-left-arrow:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-downloading-from-smartphone:before { content: "\f10c"; }
.flaticon-trophy:before { content: "\f10d"; }
.flaticon-rocket-ship:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-calendar:before { content: "\f110"; }
.flaticon-users:before { content: "\f111"; }
.flaticon-diamond:before { content: "\f112"; }
.flaticon-internet:before { content: "\f113"; }
.flaticon-chat:before { content: "\f114"; }
.flaticon-pencil:before { content: "\f115"; }
.flaticon-email:before { content: "\f116"; }
.flaticon-phone-call:before { content: "\f117"; }
.flaticon-like:before { content: "\f118"; }
.flaticon-apple:before { content: "\f119"; }
.flaticon-android:before { content: "\f11a"; }
.flaticon-google-play:before { content: "\f11b"; }
.flaticon-devices:before { content: "\f11c"; }
.flaticon-smartphone:before { content: "\f11d"; }
.flaticon-money:before { content: "\f11e"; }
.flaticon-team:before { content: "\f11f"; }
.flaticon-notebook:before { content: "\f120"; }
.flaticon-bar-chart:before { content: "\f121"; }
.flaticon-file:before { content: "\f122"; }
.flaticon-inbox:before { content: "\f123"; }
.flaticon-picasa:before { content: "\f124"; }
.flaticon-layers:before { content: "\f125"; }