/*==========================
	Custom css
==========================*/

.bg-img-fix {
    background-size: cover;
    background-position: center;
}
.logo-header img {
    width: 200px;
}
.radius-xl.outline{
	border-radius:20px;
	color:#fff;
}
/*---------------------------------------- 
1. Comming Soon And Login Pages
-----------------------------------------*/
/*====== Coming Soon Page ======*/
.countdown .date .time {
    font-size: 40px;
    font-weight: 500;
	border-top:0;
}
.countdown .date {
    min-width: 110px;
    color: #fff;
    display: inline-block;
	border-right:1px solid rgba(255,255,255,0.2);
	margin:0 -2px;
}
.countdown .date:last-child{
	border:0px solid;
} 
.countdown .date span {
    display: block;
    margin: 0 auto;
    padding: 2px 1px;
    width:100%;
	font-size: 14px;
    font-weight: 400;
	border-top:1px solid rgba(255,255,255,0.2);
	letter-spacing:2px;
}
.coming-soon-content h2 {
	color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 50px;
    min-height: 50px;
    text-transform: uppercase;
}
.coming-soon-content p {
    max-width: 800px;
    margin: 0px auto;
}
.dez-coming-soon {
    height: 100%;
    width: 100%;
}
.dez-coming-soon .container {
    position: relative;
	z-index:2;
}
.dez-coming-soon-full{
	position: fixed;
	overflow-y:scroll;
}
.dez-coming-bx {
    margin-top: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.dez-coming-soon[class*="overlay"]:after{ 
	position:fixed;
}
.dez-coming-soon .logo-header{
	width:100%;  
	padding:30px;
	float: none;
}
.sidenav.coming-side-bar {
    background-color:#fff;
}
.dez-coming-bx.left-bar {
	position:fixed;
	top:0;
	left:0;
	width:50%;
	margin-top:0;
}
.dez-coming-soon .container-fluid{
	z-index:2;
}
/*==== Responsive ====*/
@media only screen and (max-width: 1200px) {
	.dez-coming-bx.left-bar .dez-coming-bx .countdown .date{
		min-width:75px;
	}
}
@media only screen and (max-width: 991px) {
    .dez-coming-soon.two-box,
    .dez-coming-soon.two-box .dez-coming-bx {
        position:relative;
        width:100%;
    }
    .dez-coming-soon.two-box .dez-coming-bx {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .dez-coming-soon.two-box .dez-coming-bx h2 {
        margin-top: 0;
    }
    .coming-side-bar {
        background: #fff;
    }
	.skew-content-box{
		padding: 5px;
	}
	.skew-content-box ul li a{
		margin-right:3px;
		font-size:13px;
	}
	.dez-social-icon{
		margin:0;
	}
	.skew-content-box ul li a{
		padding: 5px;
	}
	.request-a-quote:before{
		left:0;
		transform: skewX(0deg);
	}
	.header-style-4 .slide-up{
		position:unset;
	}
	.dez-coming-bx.left-bar{
		position:unset;
		width:100%;
	}
	.dez-coming-bx {
		margin-top: 30%;
	}
}
@media only screen and (max-width: 767px) {
    .dez-book-now-content {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .coming-soon-content h2 {
        font-size: 30px;
    }
    .countdown .date .time {
        font-size: 30px;
    }
    .countdown .date {
        max-width: 50px;
		min-width: 75px;
		border:0;
    }
	.countdown .date span{
		font-size:12px;
		border:0;
	}
    .dez-coming-bx {
        margin-top: 20px;
    }
	.dez-coming-bx,
	.dez-coming-bx.left-bar{
		padding-left:0;
		padding-right:0;
	}
	.dez-coming-bx.left-bar{
		padding-bottom:25px;
	}
	.dez-coming-soon .logo-header, 
	.dez-login .logo-header{
		padding:20px;
	}
	.dez-social-icon li a{
		line-height:33px;
		height:35px;
		width:35px;
	}
	.social-icon .dez-social-icon{
		width:auto;
		height:auto;
	}
	.social-icon{
		position:unset;
	}
}

/*==== Responsive END ====*/
#particles-js .container.dez-coming-bx {
    left: 50%;
    margin-left: -250px;
    margin-top: -186px;
    max-width: 500px;
    min-height: 372px;
    position: absolute;
    text-align: center;
    top: 50%;
}
/*===== video background =====*/
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
/* contact form */
.contact-form .modal-dialog{
	width:auto;
	max-width:450px;
}
.modal-content {
    background-color: #333333;
	border-radius: 0;
}
.modal-content .form-control {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
	height: 44px;
    padding: 0 20px;
}
.modal-content .input-group:hover .form-control, 
.modal-content .input-group:focus .form-control, 
.modal-content .input-group:focus .input-group-addon,
.modal-content .input-group:hover .input-group-addon{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
}
.modal-backdrop.in {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("../images/overlay/rrdiagonal-line.png");
    opacity: 1;
}
.close-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 38px;
    height: 20px;
    line-height: 20px;
    opacity: 0.4;
    position: absolute;
    right: 5px;
    top: 10px;
}
.close-btn:hover{
	opacity:0.8;
}
/* Social Links */
.social-icon {
    left: 10px;
    position: fixed;
    top: 50%;
}
.dez-coming-bx .dez-social-icon li a{
	width:40px;
	height:40px;
	font-size:15px;
	color:#fff;
	padding:0;
	line-height:38px;
	border-radius:0;
}
.social-icon .dez-social-icon{
	width:40px;
	height:170px;
	margin-top:-85px;
}

.container.dez-coming-bx {
    margin-top: -186px;
    min-height: 372px;
    position: relative;
    top: 50%;
	text-align:center;
	z-index: 2;
}
@media only screen and (max-width: 767px) {
	.social-icon .dez-social-icon{
		width:auto;
		height:auto;
	}
	.social-icon{
		position:unset;
		margin-top:20px;
	}
}